//.slim-card-container {
//  display: grid;
//  grid-area: material-card;
//  grid-template-columns: 1fr 3fr 1fr;
//  grid-template-areas: ". slim-card .";
//}
//
//.slim-card {
//  grid-area: slim-card;
//}

.divider {
  margin: 30px 0 !important;
}

.pass-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px !important;
}

.card-title {
  background-color: #ffffff;
  padding: 0;
  font-size: 1.3rem;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.invisible {
  display: none;
}
