<mat-toolbar role="toolbar">
  <span routerLink="/">
<!--    <img alt="" class="navLogo" src="assets/images/heart-logo-white.png">-->
    <span class="nav-title">Calc</span>
  </span>

  <span class="fill-remaining-space"></span>

  <mat-menu #menu xPosition="before">
    <button mat-menu-item routerLink="/">
      <mat-icon>account_circle</mat-icon>
      <span>opción 1</span>
    </button>
    <button mat-menu-item>
      <mat-icon>power_settings_new</mat-icon>
      <span id="logout-button">opción 2</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
