@import "src/app/_vars.scss";

.mat-toolbar-single-row {
  height: 50px;
}

.navigation-items {
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.nav-title {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 10px;
}

.mat-toolbar {
  background-color: $calculator-blue;
  color: #ffffff;
}

//.navLogo {
//  max-width: 10%;
//  max-height: 10%;
//  margin-right: 0.5rem;
//}

mat-toolbar {
  position: fixed;
  z-index: 999;
  box-shadow: 0 5px 24px -9px rgba(0, 0, 0, 0.75);
  top: 0;

  span {
    outline: none;
  }
}

.container {
  display: flex;
  justify-content: space-around;
}
