<h1 mat-dialog-title class="dialog-title">Seleccionar nodos hijos</h1>

<div mat-dialog-content class="dialog-content">

  <div class="content">
    <mat-form-field ngDefaultControl [(ngModel)]="data.input1" class="input">
      <input class="input" name="node1" matInput placeholder="Nombre del primer nodo">
    </mat-form-field>
    <button
      mat-raised-button
      [disabled]="data.input1 === ''"
      (click)="getNode(data.input1, true)"
      >Buscar 1er nodo</button>

    <mat-form-field ngDefaultControl [(ngModel)]="data.input2" class="input">
      <input class="input" name="node2" matInput placeholder="Nombre del segundo nodo">
    </mat-form-field>
    <button
      mat-raised-button
      [disabled]="data.input2 === ''"
      (click)="getNode(data.input2, false)"
      >Buscar 2do nodo</button>
  </div>

  <div mat-dialog-actions class="dialog-buttons">
    <button mat-button [mat-dialog-close]="false">Cancelar</button>
    <button mat-raised-button
            color="primary"
            [disabled]="confirmDisabled()"
            [mat-dialog-close]="data">
      Confirmar
    </button>
  </div>
</div>
