<div class="material-card-container" *ngIf="calculables">
  <mat-card class="material-card">

    <mat-toolbar role="toolbar" class="card-title">
      <span>Calculables</span>

      <span class="fill-remaining-space"></span>
<!--            <button mat-mini-fab-->
<!--                    color="primary"-->
<!--                    (click)="createCalc()">-->
<!--              <mat-icon>add</mat-icon>-->
<!--            </button>-->

    </mat-toolbar>

    <mat-card-content class="plan-list">

      <div *ngIf="calculables.length === 0" class="empty-list">
        <h1>No se encuentra ningún Calculable</h1>
      </div>

      <mat-accordion *ngIf="calculables.length > 0">
        <mat-expansion-panel *ngFor="let calc of calculables">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">
                <p>
                  {{calc.name}}
                </p>
              </div>

            </mat-panel-title>
          </mat-expansion-panel-header>

<!--          <button mat-button color="primary"-->
<!--                  (click)="seeDetails(calc)">-->
<!--            Ver detalles-->
<!--          </button>-->

        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
