<div class="material-card-container" *ngIf="company.projects">
  <mat-card class="material-card">

    <mat-toolbar role="toolbar" class="card-title">
      <span>Proyectos de {{company.name}}</span>

      <span class="fill-remaining-space"></span>

    </mat-toolbar>

    <mat-card-content class="list">

      <div *ngIf="company.projects.length === 0" class="empty-list">
        <h1>No se encuentra ningún proyecto</h1>
      </div>

      <mat-accordion *ngIf="company.projects.length > 0">
        <mat-expansion-panel *ngFor="let p of company.projects">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">
                <p>
                  {{p.name}}
                </p>
                <button mat-icon-button (click)="openDialog(p)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>

            </mat-panel-title>
          </mat-expansion-panel-header>
          <p><strong>Nombre:</strong> {{p.name}}</p>
          <p><strong>Descripción:</strong> {{p.description}}</p>
          <p><strong>Métricas incluídas:</strong> {{p.calculables.length}}</p>

          <app-project-chart [project]="p" [lastMeasurement]="lastMeasurement"> </app-project-chart>

          <button mat-button (click)="seeMetrics(p)"> Ver Metricas </button>

        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
