<!--<h1 mat-dialog-title>Medición exitosa</h1>-->
<!--<div mat-dialog-content>-->
<!--  <p><strong>ID:</strong> {{data.measure.id}}</p>-->
<!--  <p><strong>Nombre:</strong> {{data.measure.name}}</p>-->
<!--  <p><strong>Medido en la fecha:</strong> {{data.measure.date | date:'dd/MM/yy H:mm'}}</p>-->
<!--  <h2><strong>Resultado de la medición:</strong> {{data.measure.value}}</h2>-->
<!--</div>-->
<!--<div mat-dialog-actions class="buttons">-->
<!--  <button mat-button color="primary" [mat-dialog-close]="2">Cerrar</button>-->
<!--</div>-->
