<div class="material-card-container" *ngIf="variables">
  <mat-card class="material-card">

    <mat-toolbar role="toolbar" class="card-title">
      <span>Cálculos</span>

      <span class="fill-remaining-space"></span>

      <button mat-mini-fab
              color="primary"
              (click)="createCalc()">
        <mat-icon>add</mat-icon>
      </button>

    </mat-toolbar>

    <mat-card-content class="list">

      <div *ngIf="variables.length === 0" class="empty-list">
        <h1>No se encuentra ningún Calculable</h1>
      </div>

      <mat-accordion *ngIf="variables.length > 0">
        <mat-expansion-panel *ngFor="let calc of variables">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">
                <p>
                  {{calc.name}}
                </p>
                <button mat-icon-button (click)="openDialog(calc)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>

            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngIf="!calc.operator">
            <p><strong>Nombre:</strong> {{calc.name}}</p>
          </div>

          <div *ngIf="calc.operator">
            <p><strong>Nombre:</strong> {{calc.name}}</p>
            <p *ngIf="calc.left"><strong>1er término:</strong> {{calc.left.name}}</p>
            <p><strong>Operador entre ellos:</strong> {{calc.operator}}</p>
            <p *ngIf="calc.right"><strong>2do término:</strong> {{calc.right.name}}</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
