<h1 mat-dialog-title>{{calculable.name}}</h1>
<div mat-dialog-content>

  <div *ngIf="!calculable.operator || calculable.operator == null">
    <form novalidate autocomplete="off">
      <mat-card-content>

        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            name="name"
            type="text"
            [(ngModel)]="calculableForm.name">
          <mat-error *ngIf="!calculableForm.name || calculableForm.name === ''">Esta entrada debe ser correcta</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Valor numérico</mat-label>
          <input
            matInput
            name="value"
            type="number"
            [(ngModel)]="calculableForm.value">
          <mat-error *ngIf="!calculableForm.value || calculableForm.value === null">Esta entrada debe ser correcta</mat-error>
        </mat-form-field>
      </mat-card-content>
    </form>
  </div>

  <div *ngIf="calculable.operator != null">
    <form novalidate autocomplete="on">
      <mat-card-content>

        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            name="name"
            type="text"
            [(ngModel)]="calculableForm.name">
          <mat-error *ngIf="!calculableForm.name || calculableForm.name === ''">Esta entrada debe ser correcta</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Primer término</mat-label>
          <mat-select [(value)]="calculableForm.left">
            <mat-option *ngFor="let calc of everyCalculable" [value]="calc._id">{{calc.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Operador entre términos</mat-label>
          <mat-select [(value)]="calculableForm.operator">
            <mat-option value="PLUS">Sumar</mat-option>
            <mat-option value="MINUS">Restar</mat-option>
            <mat-option value="TIMES">Multiplicar</mat-option>
            <mat-option value="DIVIDE">Dividir</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Segundo término</mat-label>
          <mat-select [(value)]="calculableForm.right">
            <mat-option *ngFor="let calc of everyCalculable" [value]="calc._id">{{calc.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </form>
  </div>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="calculableForm">Update</button>
</div>
