<div class="material-card-container" *ngIf="metrics">
  <mat-card class="material-card">

    <mat-toolbar role="toolbar" class="card-title">
      <span>Métricas</span>

      <span class="fill-remaining-space"></span>
      <button mat-mini-fab
              color="primary"
              (click)="createMetric()">
        <mat-icon>add</mat-icon>
      </button>

    </mat-toolbar>

    <mat-card-content class="list">

      <div *ngIf="metrics.length === 0" class="empty-list">
        <h1>No se encuentra ninguna métrica</h1>
      </div>

      <mat-accordion *ngIf="metrics.length > 0">
        <mat-expansion-panel *ngFor="let m of metrics">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">
                <p>
                  {{m.name}}
                </p>
                <button mat-icon-button (click)="openDialog(m)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>

            </mat-panel-title>
          </mat-expansion-panel-header>
          <p><strong>Nombre:</strong> {{m.name}}</p>
          <p><strong>Descripción:</strong> {{m.description}}</p>
          <p><strong>1er término:</strong> {{m.left.name}}</p>
          <p><strong>Operador entre ellos:</strong> {{m.operator}}</p>
          <p><strong>2do término:</strong> {{m.right.name}}</p>

          <app-metric-chart [metric]="m" [lastMeasurement]="lastMeasurement"></app-metric-chart>

          <button mat-button color="primary"
                  (click)="measure(m)">
            Realizar una medición
          </button>

        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
