<h1 mat-dialog-title>{{calculable.name}}</h1>
<div mat-dialog-content>

  <div *ngIf="!calculable.operator || calculable.operator == null">
    <form novalidate autocomplete="on">
      <mat-card-content>

        <mat-form-field appearance="outline">
          <mat-label>Valor numérico</mat-label>
          <input
            matInput
            name="value"
            type="number"
            [(ngModel)]="calculable.value">
        </mat-form-field>
      </mat-card-content>
    </form>
  </div>

  <div *ngIf="calculable.operator != null">
    <form novalidate autocomplete="on">
      <mat-card-content>

        <mat-form-field appearance="outline">
          <mat-label>Primer término</mat-label>
          <mat-select name="left" [(value)]="calculable.left">
            <mat-option *ngFor="let calc of everyCalculable" [value]="calc">{{calc.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Operador entre términos</mat-label>
          <mat-select [(value)]="calculable.operator" name="operator">
            <mat-option value="PLUS">Sumar</mat-option>
            <mat-option value="MINUS">Restar</mat-option>
            <mat-option value="TIMES">Multiplicar</mat-option>
            <mat-option value="DIVIDE">Dividir</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Segundo término</mat-label>
          <mat-select name="right" [(value)]="calculable.right">
            <mat-option *ngFor="let calc of everyCalculable" [value]="calc">{{calc.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </form>
  </div>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="calculable">Update</button>
</div>
