$calculator-blue: #007ad9;
$calculator-light-blue: #0094d9;
$calculator-dark-blue: #0024d9;
$calculator-red: #e91224;
$calculator-dark-red: #a80000;
$calculator-red-highlight: rgb(233, 18, 36, 0.3);
$calculator-green: #34A835;
$calculator-light-black: #333333;
