<div class="material-card-container" *ngIf="projects">
  <mat-card class="material-card">

    <mat-toolbar role="toolbar" class="card-title">
      <span>Proyectos</span>

      <span class="fill-remaining-space"></span>
      <button mat-mini-fab
              color="primary"
              (click)="createProject()">
        <mat-icon>add</mat-icon>
      </button>

    </mat-toolbar>

    <mat-card-content class="plan-list">

      <div *ngIf="projects.length === 0" class="empty-list">
        <h1>No se encuentra ningún proyecto</h1>
      </div>

      <mat-accordion *ngIf="projects.length > 0">
        <mat-expansion-panel *ngFor="let p of projects">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">
                <p>
                  {{p.name}}
                </p>
                <button mat-icon-button (click)="openDialog(p)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>

            </mat-panel-title>
          </mat-expansion-panel-header>
          <p><strong>Nombre:</strong> {{p.name}}</p>
          <p><strong>Descripción:</strong> {{p.description}}</p>
          <p><strong>Métricas incluídas:</strong> {{p.metrics.length}}</p>

          <button mat-button color="primary">
            Realizar una medición
          </button>

        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
